*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: black;
}
section{
    background-color: #C2A78C;
    height: 100vh;
    width: 100%;
}
.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 380px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow:7px 7px 60px #000;
}
h1{
    color: black;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    font-family:'Bree Serif',sans-serif;
}
.control input{
    padding: 10px;
    font-size: 16px;
    display: block;
    width: 100%;
    color:#000;
    background: white;
    outline: none;
    border: none;
    margin: 1em 0;
    font-family:'Bree Serif',sans-serif;

}         
.control .btn{
    color: whitesmoke;
    text-transform: uppercase;
    background: black;
    opacity: .7;
    transition:opacity .3s ease;
    font-family:'Bree Serif',sans-serif;
}
.btn:focus{
    opacity: 1;
}
p{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    opacity: .7;
}
a:hover{
    opacity: 1;
}
label,a,input,span{
    font-family:'Bree Serif',sans-serif;
    font-weight: bold;
}
input{
    border-radius: 2rem;
}
.control button{
    height: 100%;
    padding: 10px;
    font-size: 16px;
    display: block;
    width: 100%;
    color:#000;
    outline: none;
    border: none;
    margin: 1em 0;  
    font-family:'Bree Serif',sans-serif;
    border-radius: 25px;
}
.control button span{
    position: relative;
    bottom: 16px;
    margin-right: 10px;
}