@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px rgba(90, 70, 40, 0.7) inset;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: rgb(187, 162, 125);
}

body section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background-color: rgb(104, 90, 68);
}

#chk1 {
    display: none;
}

i {
    color: #fff;
    cursor: pointer;
}

header .logo img {
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 100%;
    flex: 1;
    margin-left: 50px;
    margin-top: 5px;
}

header .search-box {
    flex: 1;
    position: relative;
    left: 7%;
}

.search-box input {
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    color: black;
    font-size: 1.5em;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
}

.search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 20%;
    transform: scale(0.9);
    background: rgba(0, 0, 0, 0.3)
}

header ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 39px 15px;
    opacity: 0.9;
    transition: all 0.3s ease;
}

header ul li a:hover {
    border-bottom: 2px solid black;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 0.3s ease;
    font-size: large;
}

header ul li a:hover {
    transform: scale3d(1.1, 1.1, 1);
}

header .menu {
    font-size: 2.5em;
    display: none;
}

@media(max-width:850px) {
    .search-box button {
        position: absolute;
    }

    header ul {
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }

    header .menu {
        display: block;
        width: 100px;
        text-align: center;
    }

    #chk1:checked~ul {
        right: 0;

    }
}

.arquivo {
    background-color: rgb(187, 162, 125);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    height: 60px;
    width: 450px;
    text-align: center;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 35.5%;
    bottom: 29.5%;
    border-radius: 10px;
}






.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Card */
.card {
    width: 1200px;
    height: 480px;
    margin: 25px;
    background-color: rgb(241, 221, 192);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    margin-top: 11%;
}




/* Card Header*/
.card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
}

/* Card Body */
.card-body {
    height: 170px;
    padding: 70px;
    text-align: center;
    font-family: sans-serif;
    
}

.upload {
    width: 125px;
    height: 125px;
    position: absolute;
    right: 45%;
    top: 37%;
}

input::file-selector-button {
    background-color: rgb(212, 188, 151);
    border-width: 2px;
    cursor: pointer;
    height: 60px;
    border-radius: 10px;
}

.botao_upload{
    background-color: rgb(212, 188, 151);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    height: 50px;
    width: 150px;
    text-align: center;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 46%;
    bottom: 18%;
    border-width: 1px;
    border-radius: 10px;
    cursor: pointer;
}

.tituloo {
    position: absolute;
    right: 37%;
    top: 55%;
    font-size: 25px;
}


.card-local {
    font-size: 16px;
    margin: 10px 0;
}

.card-titulo {
    font-size: 26px;
    margin: 15px 0;
}

.card-texto {
    font-size: 14px;
    width: 250px;
    margin: 0 auto;
}

/* Card Footer */
.card-footer {
    margin-top: 10px;
    text-align: center;
}

.card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
}

